$bg-color-body: rgb(189, 221, 159); 
$bg-color-head-foot: rgb(166, 217, 230); 
$bg-color-aside: rgb(181, 177, 242); 
$bg-color-form: rgb(237, 178, 238);
$center: center;
$padding-left: 5px;
$padding: 15px;
$border1: 0px;
$border2: 1px solid rgb(0, 0, 0);
$margin: 10px;
$div_width: 300px;
$div_height: 300px;
$img_logo_width: 50px;
$img_logo_height: 50px;
$float_left: left;
$div_display: block;
$img_size_1: 210px;
$img_size_2: 100px;
$nav_display: inline-block;
